{% extends 'base.html' %}

{% load static %}

<html>


        <body class="body">

        {% block header1 %}

        <h1 class="h1">
            <a href="{% url 'main:home' %}"><span id="span">KAYSA SWA</span></a>
            <ul></ul>
                <a href="{% url 'story5:courses' %}">
                <button id="buttonpink" type="button" class="btn btn-secondary">COURSES</button></a>

        </h1>
        {% endblock header1 %}
    
        {% block content %}
        <h2>
        
            <form method="POST" id='font-color'>
                {% csrf_token %}
                
                <div class="form-group">
                    {{form.as_p}}
                </div>
        
                <button type="submit" id="buttonpink" class="btn btn-default">Submit</button>
            </form>
        </h2>
            {% endblock content %}
        
       
            {% block header3 %}
    
                <h3 class="h3">FIND ME HERE
                    <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                        <div class="center">
                            <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                                <i class="fab fa-instagram" id="link2"></i></a>
            
                                <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                                <i class="fab fa-linkedin"  id="link1"></i></a>
                                
                                <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                                <i class="fas fa-envelope" id="link1"></i></a>
                                
                                <i class="fab fa-line" id="link1"></i>
                        </div>
                </h3>
    
            {% endblock header3 %}
      
    
                </h4>
    
                 
                    
                </h4>
       </body>
       </html>