{% extends 'base.html' %}

{% load static %}


<html>
  
    
 <body class="body">
    
    {% block header1 %}

            <h1 class="h1">
                <a href="{% url 'main:home' %}"><span id="span">KAYSA SWA</span></a>
                <ul></ul>
                    <a href="{% url 'main:home' %}">
                    <button id="buttonpink" type="button" class="btn btn-secondary">HOME</button></a>

                    <a href="{% url 'main:about' %}">
                    <button id="buttonorange" type="button" class="btn btn-secondary">ABOUT ME</button></a>

                    <a href="{% url 'main:educations' %}">
                    <button id="buttonpink" type="button" class="btn btn-secondary">EDUCATIONS</button></a>

                    <a href="{% url 'main:experiences' %}">
                    <button id="buttonorange" type="button" class="btn btn-secondary">EXPERIENCES</button></a>

                    <a href="{% url 'main:project' %}">
                    <button id="buttonpink" type="button" class="btn btn-secondary">PROJECT</button></a>

                    <a href="{% url 'main:contact' %}">
                    <button id="buttonorange" type="button" class="btn btn-secondary">CONTACT</button></a>

            </h1>

        {% endblock header1 %}
    
    {% block content %}


        <h2>
            <table id="tableex" class="img">
                <tr>
                    <td id="td"> 
                        <img src="{% static 'img/perak.jpg' %}" alt="perakimage" class="centre"  id="imgex">
                        <span id="spantable"> Staff of Sponsorship </span>
                    </td>
                    <td id="td">
                        <img src="{% static 'img/compfest.jpg' %}" alt="compfestimage" class="centre" id="imgex">
                        <span id="spantable">Staff of Data Science Academy</span></td>
                </tr>

                <ul></ul>
                
                <tr>
                    <td id="td"> 
                        <img src="{% static 'img/dpm.jpg' %}" alt="dpmimage" class="centre" id="imgex" >
                        <span id="spantable">Staff of Human Resources</span></td>
                    <td id="td">
                        <img src="{% static 'img/siwakng.png' %}" alt="siwakngimage" class="centre" id="imgex" >
                        <span id="spantable">Staff of Human Resources</span></td>
                </tr>
                
            </table>

        </h2>

        
    {% endblock content %}
        
       
        {% block header3 %}

            <h3 class="h3">FIND ME HERE
                <script src="https://kit.fontawesome.com/56fc67844f.js" crossorigin="anonymous"></script>
                    <div class="center">
                        <a href="https://www.instagram.com/kaysasy_/" target="_blank">
                            <i class="fab fa-instagram" id="link2"></i></a>
        
                            <a href="https://id.linkedin.com/in/kaysa-swa-20814b1a4" target="_blank">
                            <i class="fab fa-linkedin"  id="link1"></i></a>
                            
                            <a href="https://mail.google.com/mail/u/0/#inbox?compose=NZVHGDkdRDwnxgckKZgqFpxfFnMBqkGrVcSHCSVPWVZvKrMTHhQHhLjRXBvCxjmkFjVNpg" target="_blank">
                            <i class="fas fa-envelope" id="link1"></i></a>
                            
                            <i class="fab fa-line" id="link1"></i>
                    </div>
            </h3>

        {% endblock header3 %}
        
  

            </h4>

             
                
            </h4>
   </body>
   </html>